# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY='AIzaSyBypoFRutTvnzQqxQtdpvk2l48YdU_0DPo'
NEXT_PUBLIC_FIREBASE_APP_ID='1:28655533403:web:e59a9f803ff0042ff1ae7e'
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN='tenant-eb6a2.firebaseapp.com'
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID='28655533403'
NEXT_PUBLIC_FIREBASE_PROJECT_ID='tenant-eb6a2'
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET='tenant-eb6a2.firebasestorage.app'